:root {
  --max-width: 1280px
}

body {
  font-family: sans-serif;
  margin: 0;
  padding: 0;
}

*,
*::before,
*::after {
  box-sizing: border-box;
}

.container {
  max-width: 1280px;
  width: 100%;
  margin: 0 auto;
  padding: 0 1rem;
}

.header {
  display: flex;
  justify-content: space-between;
  padding: 1rem 0;
}

.header h3 {
  color: #0067db;
  font-size: 2.5rem;
  margin: 0;
  font-weight: 500;
  letter-spacing: -2px;
}

ul.header-nav {
  display: flex;
  list-style-type: none;
  gap: 1em;
  font-weight: bold;
}

.reservations {
  min-height: 600px;
  background-color: pink;
  display: flex;
}

.reservations-container {
  display: flex;
  flex: 1;
  flex-direction: column;
  gap: 1rem;
  justify-content: center;
}

.reservations h2 {
  font-size: 4rem;
  margin: 0;
}

.reservations-form {
  background-color: #f7f7f8;
  border-radius: 1em;
  display: flex;
  padding: 1rem;
  gap: 1rem;
}

.reservations-form>div {
  flex: 1;
}

.reservations-form input {
  border: 1px solid;
  border-radius: 8px;
  padding: .8rem;
  border-color: #818494;
  width: 100%;
}

.reservations-form button {
  background-color: black;
  color: white;
  border: 0;
  border-radius: 9999px;
  padding: .8rem 1.2rem;
  font-weight: bold;
}
